# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=host-gateway
POSTGRES_PORT=5432
POSTGRES_DB=name_goes_here
POSTGRES_USER=debug
POSTGRES_PASSWORD=debug
